//color
$twitterblue:#1da1f2;
$twitterlightblue:#71C9F8;
$twitterblack:#14171A;

//font
$twitterlight:13px;
$twitternormal:16px;
$twitterbold:19px;
$twitterbolder:28px;

.fontlight{
    font-size: $twitterlight;
}
.fontnormal{
    font-size: $twitternormal;
}
.fontbold{
    font-size: $twitterbold;
}
.fontbolder{
    font-size: $twitterbolder;
}
.twitterlogo{
    color: $twitterblue;
    font-size:20px;
    font-weight: 400;
}
#passwordfont{
    font-size: $twitternormal;
    font-family: Helvetica;
    font-weight: 400;
    color: #667594;
}
#englishfont{
    font-size: 14px;
    font-family: helvetica;
    font-weight: 400;
    color: #667594;
    margin: 10px 0px 0px 45px;
}
#headerfont{
    font-weight: 700;
    font-family: Helvetica;
    font-size: $twitterbolder;
    color: $twitterblack;
    margin: 40px 243px 0px 0px;
}
#textfont{
    font-size: 14px;
    font-family: helvetica;
    font-weight: 400;
    color: #292F33;
    margin: 40px 290px 0px 0px;
}
#input{
    width: 17.8%;
    margin: 15px 240px 0px 0px;
    outline: none;
    border: 1.5px solid #CCD6DD;
    border-radius: 30px;
    height: 35px;
}
#input:focus{
    border: 1.5px solid $twitterblue;
}
.twitterbluebuttom{
    font-weight: 700; 
    border-radius: 30px;
    color: white;
    background:$twitterblue;
    width: 5%;
    text-align: center;
    padding: 10px 0px 10px 0px;
    margin: 30px 0px 0px 670px;
    font-size: 14px;
    font-family: Helvetica;
}
.twitterbluebuttom:hover{
    background: #1A91DA;
}
.cursor{
    cursor: pointer;
}