// Colors
// key: 
// bg=background 
// sv=side nav 
// hsv=hover 
// side nav
// mb=main body
// hmb=hover main body 
// b=border

$bgbodyColor:#FFFFFF;
$textColor:#14171A;
$sv2bgColor:#F5F8FA;
$hsv2bgColor:#EDF0F2;
$hsvbgColor:#E8F5FE;
$hsvColor:#1DA1F2;
$mbgColor:#FFFFFF;
$hmbgColor:#F5F8FA;
$bColor:#E6ECF0;


// font sizes
// key: 
// l=light
// ll=light light
// i=icon

$font:19px;
$lfont:15px;
$llfont:13px;
$ifont:120%;

// Pictures
//key p=profile
$pwidth:50px;
$pheight:50px;

//.sidev=side nav
.sidev{
    // position: relative;
    // left: 100px;
    margin: 0px 0px 0px 320px;

    //.v=the div housing each side nav items
    .v{
        padding: 28px 0px 0px 0px;
        border: 0px solid red;
        // :hover .sv{ background: $hsvbgColor; color: $hsvColor; 
        // }
        //.sv=the nav items
       .sv{
           text-decoration: none; 
           color: $textColor; 
           border: 0px solid black; 
           border-radius: 30px; 
           padding: 10px 15px 10px 15px;
           font-size: $font;
           font-weight: 700;
       }
       //.isv=icon in the nav items
       .isv{
           font-size: $ifont;
           margin-right: 18px;
       }
    }
   }
   //hover effect for the nav times 
.v:hover .sv{ background: $hsvbgColor; color: $hsvColor;}
//.t=twitter icon
.t{
    border-radius: 30px;
    padding: 12px;
    color: $hsvColor;
    font-size: 180%;
    margin: 2px 0px 0px 0px;
}
//hover effect for the icon
.t:hover {
    background: $hsvbgColor; 
    color: $hsvColor;
}
//.t=tweet buttom in the side nav
.b{
    font-size: $lfont;
    font-weight: 700;
    background: $hsvColor; 
    border-radius: 50px; 
    width: 80%; 
    padding: 5% 0% 5% 0%;
    margin: 35px 0px 0px 0px;
}
//hover effect for the buttom
.b:hover{
    background: #1A91DA;
}
//.mb=main webpage body
.mb{
    border: 1px solid $bColor;
    //.h=home text
    .h{ 
        padding: 10px;
        font-size: $font;
        font-weight: 800;
        border-bottom: 1px solid $bColor;
    }
    //.hi=home icon
    .hi{
        border-bottom: 0px solid black;
        border-radius: 50px;
        padding: 5px;
        height: 35px;
    }
    //hover effect for home icon
    .hi:hover {
        background: $hsvbgColor; 
        color: $hsvColor;
    }
    //.dp=profile picture
    .dp{
        width: $pwidth;
        height: $pheight;
    }
    //.p=profile
    .p{
        border-bottom: 10px solid $bColor;
        padding: 4px;
        //.pt=profile text
        .pt{
            font-size: $font;
            font-weight: 400;
            color: #778794;
        }
        //.pi=profile icons
        .pi{
            margin: 0px 5px 12px 2px;
            padding: 4px;
            border: 0px solid black;
            border-radius: 20px;
        }
        //hover effect for the icons
        .pi:hover{
            background: $hsvbgColor;
        }
        //.pb=profile buttom
        .pb{
            margin: 0px 100px 0px 0px;
            color:white;
            background: #8ED0F9;
            padding: 7% 12% 7% 12%;
            font-size: $lfont;
            font-weight: 700;
            border-radius: 30px;
            position: relative;
            left: 60px;
        }
    }
    //.ps=posts
    .ps{
        border: 1px solid $bColor;
        //.pst=post text
        .pst{
            position: relative; 
            bottom: 10px; 
            font-weight: 700;
            font-size: $lfont;
        }
        //.psi=post icon
        .psi{
            color: $hsvColor; 
            position: relative; 
            bottom: 10px;
        }
        //.pst2=post secondary text
        .pst2{
            font-weight: 400;
            font-size: $lfont;
            color: #96A3AE;
            position: relative; 
            bottom: 10px;
        }
    }
}